.TaskContainer {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(357deg, #735bb6 0%, #d298c6 100%);
  border-radius: 0% 15px 15px 0%;
  width: 15vw;
  overflow-y: scroll;
  scrollbar-width: none;
}
.TaskContainer p {
  padding-left: 10px;
  display: flex;
  width: 79%;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
  font-weight: 900;
  font-size: 23px;
  height: 50px;
  margin: 10px;
  justify-content: center;
  color: white;
  transform: translate3d(55px, 0px, 0px);
}
.TaskContainer p:hover {
  background: #d298c6;
  width: 307px;
  border-radius: 35px 0px 0px 35px;
  cursor: pointer;
}
.TaskContainer a {
  text-decoration: none;
}
.icons {
  font-size: 24px;
  color: white;
  align-items: flex-start;
}
#navHover {
  background-color: #d9d9d946;
  border-radius: 35px 0px 0px 35px;
}
