.header {
  width: 100%;
  height: 75px;
  background: #f8f6fb;
  display: grid;
  grid-template-columns: 2fr 4fr 3fr;
  flex-direction: row;
  color: #0e0a16;
}


#logoText {
  display: flex;
  margin:0px 100px 0px 100px;
  font-size: 40px;
  font-weight:900;
  width: fit-content;
  text-align: center;
  justify-content: center;
  align-items: center;
}
  
.navItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 75px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.navItem p{
  text-wrap: nowrap;
  font-size: 24px;
  margin-left: 50px;
  margin-right: 50px;
}
.navItem a{
  text-decoration: none;
  color: #0e0a16;
}
  
.authButtons {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
  
.registerButton,
.loginButton {
  display: flex;
  width: 190px;
  height: 50px;
  align-items: center;
  justify-content: center;
}
  
.registerButton {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 190px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #c57ba0;
  color: #0e0a16;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;

}

.registerButton:hover {
  background: #c57ba0;
  transition: 0.5s ease;
}

.registerButton a{
  text-decoration: none;
  color: black;
}
.registerButton a:hover{
  color: white;
  transition: 0.5s ease;
}

.loginButton {
  width: 164px;
  height: 50px;
  background: #c57ba0;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.loginButton:hover {
  border: 1px solid #c57ba0;
  background: #f8f6fb;
  transition: 0.5s ease;
  color: black;
}
.loginButton a{
  text-decoration: none;
  color: white;
  
}
.loginButton a:hover{
  color: black;
  transition: 0.5s ease;
}


.navUnderline {
  position: absolute;
  transition: left 0.3s ease;
  background-color: #0e0a16;
  z-index: 1;
  height: 4px;
  width: 130px;
}
