.rootContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 0;
  margin: 0;
  background: linear-gradient(0deg, #735bb6 0%, #d298c6 100%);
  overflow: hidden;

}
.startText,
.endText {
  position: absolute;
  text-align: center;
  color: #f8f6fb;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  word-wrap: break-word;
}

.startText {
  top: 269px;
  left: 835px;
}

.endText {
  top: 724px;
  left: 835px;
}

.mainText {
  width: 498px;
  position: absolute;
  top: 418px;
  left: 871px;
  color: #f8f6fb;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  word-wrap: break-word;
}

.learnPythonText {
  position: absolute;
  top: 335px;
  left: 871px;
  color: #f8f6fb;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
}

.startNowText {
  width: 254px;
  height: 50px;
  position: absolute;
  background: #c57ba0;
  border-radius: 25px;
  top: 639px;
  left: 894px;
  text-align: center;
  color: #f8f6fb;
  font-size: 20px;
  font-weight: 700;
  line-height: 47px;
}
.startNowText:hover {
  color: black;
  transition: 0.5s ease;
}

.imageContainer {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 223px;
  left: 120px;
  
}

.imageBackground {
  width: 100%;
  height: 100%;
  background: url(../../public/LayaoutImage.png);
  transform: translate3d(80px,-80px,0px);
}

.layoutImage {
  width: 232px;
  height: 203px;
  position: absolute;
  top: 382px;
  left: 550px;
}