.imageBackground {
    width: 100%;
    height: 100%;
    background: url(../../public/SchoolPage.png);
    transform: translate3d(80px,-80px,0px);
  }
  .layoutImage {
    width: 232px;
    height: 203px;
    position: absolute;
    top: 382px;
    left: 10px;
  }