.SettingPageContainer {
  display: grid;
  grid-template-columns: 15fr 85fr;
}
.SettingsBox {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SettingsBox p,
#SubmitButton {
  font-size: 46px;
  background-color: rgba(255, 255, 255, 0.338);
  justify-content: start;
  width: 500px;
  display: flex;
  border-radius: 25px;
  padding-left: 15px;
  margin: 10px;
}
.SettingsBox a {
  color: black;
  text-decoration: none;
}
.SettingsBox a:hover {
  color: aqua;
  transition: 0.5s ease;
}
#heading {
  background-color: transparent;
  margin-bottom: 50px;
}
#SubmitButton {
  transform: translateX(380px);
  font-size: 32px;
  width: 120px;
  justify-content: end;
}
#SubmitButton:hover {
  color: aqua;
  transition: 0.5s ease;
}
.SettingsBox input {
  background-color: transparent;
  border: none;
  width: 300px;
  margin-left: 80px;
}
.SettingsBox form p {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
